<section id="map-section">
    <a name="map-section"></a>

    <!-- logo -->
    <div id="logo">
      <a href="<%= root_path %>">
      </a>
    </div>

    <!-- map -->
    <div id='map'></div>

    <!-- add choir button -->
    <div id="add-me">
      <a href="#add-me-section" class="btn btn-default outline page-scroll">Dein Chor fehlt?</a></br>
      <span class="glyphicon glyphicon-chevron-down"></span>
    </div>
</section>

<!-- add choir form -->
<section id="add-me-section">
  <a name="add-me-section"></a>
  <div class="container">
    <h2 id="add-me-title">Deinen Chor zur Karte hinzufügen:</h2>
    <div id="add-me-form"></div>
    <div class="text-right" style="padding-top: 1.5em; padding-bottom: 1.5em;">
      <a href="#map-section" class="page-scroll"><span class="glyphicon glyphicon-chevron-up"></span> Zur Karte</a>
    </div>
  </div>
</section>

<!-- about this page -->
<section id="about">
  <div class="container">
    <%= render partial: 'about' %>
    <div class="text-right" style="padding-top: 1.5em; padding-bottom: 1.5em;">
      <a href="#map-section" class="page-scroll"><span class="glyphicon glyphicon-chevron-up"></span> Zur Karte</a>
    </div>
  </div>
  <a name="about"></a>
</section>

<!-- footer -->
<footer class="footer">
  <div class="container">
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li> |
        <li><%= link_to "Chöre", choirs_path %></li>
      <% else %>
        <li><%= link_to 'Login ', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
  <a name="footer"></a>
</footer>

<!-- JS -->
<script type="text/javascript">

$('#add-me-form').html("<%= j render 'choirs/form', locals: {choir: @choir = Choir.new} %>");

$(document).ready(function(){
  showMap();
});

function showMap(json) {
  var mapOptions = {
     maxZoom: 15,
     minZoom: 11,
     zoom: 11,
     markerZoomAnimation: true,
     zoomControl: false
  }

  var map = L.map('map', mapOptions).setView([52.520, 13.404], 11);

  var berlinMap = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com"  target="_blank">Mapbox</a>',
      maxZoom: 15,
      id: "<%= ENV['mapbox_map_id'] %>",
      accessToken: "<%= ENV['mapbox_auth_token'] %>"
  }).addTo(map);

  var mixedChoirMarkers = [];
  var womenChoirMarkers = [];
  var menChoirMarkers = [];
  var childrenChoirMarkers = [];
  var youthChoirMarkers = [];
  var elderlyChoirMarkers = [];
  var defaultChoirMarkers = [];

  <% @choirs.each do |choir| %>
    var marker = L.marker([<%= choir.latitude %>, <%= choir.longitude %>]).bindPopup('<%= j render( partial: 'marker_popup', locals: {choir: choir}) %>').addTo(map);

    var category = '<%= choir.category.name if choir.category.present? %>';
    switch (category) {
      case 'Gemischter Chor': mixedChoirMarkers.push(marker);
        break;
      case 'Frauenchor':      womenChoirMarkers.push(marker);
        break;
      case 'Männerchor':      menChoirMarkers.push(marker);
        break;
      case 'Kinderchor':      childrenChoirMarkers.push(marker);
        break;
      case 'Jugendchor':      youthChoirMarkers.push(marker);
        break;
      case 'Seniorenchor':    elderlyChoirMarkers.push(marker);
        break;
      default:                defaultChoirMarkers.push(marker);
    }
  <% end %>

  var mixedChoirs    = L.layerGroup(mixedChoirMarkers).addTo(map);
  var womenChoirs    = L.layerGroup(womenChoirMarkers).addTo(map);
  var menChoirs      = L.layerGroup(menChoirMarkers).addTo(map);
  var childrenChoirs = L.layerGroup(childrenChoirMarkers).addTo(map);
  var youthChoirs    = L.layerGroup(youthChoirMarkers).addTo(map);
  var elderlyChoirs  = L.layerGroup(elderlyChoirMarkers).addTo(map);
  var defaultChoirs  = L.layerGroup(defaultChoirMarkers).addTo(map);


  var choirCategories = {
    "Geschmicher Chor": mixedChoirs,
    "Frauenchor":       womenChoirs,
    "Männerchor":       menChoirs,
    "Kinderchor":       childrenChoirs,
    "Jugendchor":       youthChoirs,
    "Seniorenchor":     elderlyChoirs,
    "Sonstiger Chor":   defaultChoirs
  };

  L.control.layers({}, choirCategories).addTo(map);
}
</script>
