<!-- logo -->
<div id="logo">
  <%= link_to 'Berliner Chöre', root_path%>
</div>

<div id="map"></div>

<div id="footer-controlls">
  <% if !user_signed_in? %>
    <%=link_to "Login", new_user_session_path%>
  <% else %>
    <div id="add-me">
      <a href="#">Meinen Chor hinzufügen!</a>
    </div>
    </br>
    <%=link_to "Logout", destroy_user_session_path, :method => :delete %>
  <% end %>
</div>

<!-- Modal -->
<div id="add-me-form" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Bitte füge meinen Chor zur Karte hinzu.</h4>
      </div>
      <div class="modal-body">
        <%= render partial: 'choirs/form', locals: {choir: @choir = Choir.new} %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var map = L.map('map', {zoomControl: false}).setView([52.520, 13.404], 11);

  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'zfhui.28480987',
      accessToken: 'pk.eyJ1IjoiemZodWkiLCJhIjoiNWE2ZWMxNzM1NTgxNjNhODA0ZjcxOTljNzUxZWYzY2QifQ.1tLbelkQIIem8djvVjEKXg'
  }).addTo(map);

  <% @choirs.each do |choir| %>
    var marker = L.marker([<%= choir.latitude %>, <%= choir.longitude %>]).bindPopup('<%= j render( partial: 'marker_popup', locals: {choir: choir}) %>').addTo(map);
  <% end %>

  $('#add-me a').on('click', function(){
    $('#add-me-form').modal();
  });

  $('#add-choir').on('click', function(){

  });
</script>
