<%= simple_form_for @choir, remote: true, html: {multipart: true, class: 'form-horizontal'} do |f| %>
  <% if @choir.errors.any? %>
    <div id="error_explanation">
      <h2><%= t 'simple_form.error_notification.default_message', errors: @choir.errors.count %></h2>
    </div>
  <% end %>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-xs-12">
        <%= f.input :approved, label: "Überprüft" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <div class="form-group">
        <%= f.input :image, type: 'file', label: "Lade dein Logo hoch.", class: "btn btn-default btn-file"%>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :name, label: false, placeholder: '* Name des Chores', required: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :website, type: 'url', label: false, placeholder: 'Website: http://...', required: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <%= f.association :category, label: false, :include_blank => false, required: true, class: 'form-control' %>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :location_name, label: false, placeholder: 'Probenort', class: 'form-control' %>
          </div>
          <div class="col-xs-9">
            <%= f.input :street_name, label: false, placeholder: '* Straße', required: true, class: 'form-control' %>
          </div>
          <div class="col-xs-3">
            <%= f.input :house_no, label: false, placeholder: 'Nr.', class: 'form-control' %>
          </div>
          <div class="col-xs-6">
            <%= f.input :zipcode, type: 'number', label: false, placeholder: '* PLZ', required: true, class: 'form-control' %>
          </div>
          <div class="col-xs-6">
            <%= f.input :city, label: false, disabled: true, placeholder: 'Stadt', class: 'form-control' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group text-center">
      <%= f.submit 'Verschicken', class: 'btn btn-default outline', id: 'add-choir' %>
    </div>
  </div>
<% end %>
