<h1><%= @choirs.count %> Chöre</h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Website</th>
      <th>Kategorie</th>
      <th>Rehearsal Location</th>
      <th>Street name</th>
      <th>House no</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
  </thead>

  <tbody>
    <% @choirs.each do |choir| %>
      <tr>
        <td>
          <img src="<%= choir.image_url(:thumb).to_s %>">
        </td>
        <td>
          <%= choir.name %>
          <p>
            <%= link_to 'Show', choir %> |
            <%= link_to 'Edit', edit_choir_path(choir) %> |
            <%= link_to 'Destroy', choir, method: :delete, data: { confirm: 'Bist du dir sicher?' } %>
          </p>
        </td>
        <td><%= choir.website %></td>
        <td><%= choir.category.name if choir.category.present? %></td>
        <td><%= choir.location_name %></td>
        <td><%= choir.street_name %></td>
        <td><%= choir.house_no %></td>
        <td><%= choir.zipcode %></td>
        <td><%= choir.city %></td>
        <td><%= choir.country %></td>
        <td><%= choir.latitude %></td>
        <td><%= choir.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p>
  <%= link_to 'Neuer Chor', new_choir_path %> |
  <%= link_to 'Karte', root_path %>
</p>
