<h1><%= @choirs.count %> Chöre</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Rehearsal Location Name</th>
      <th>Street name</th>
      <th>House no</th>
      <th>Zipcode</th>
      <th>City</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @choirs.each do |choir| %>
      <tr>
        <td><%= choir.name %></td>
        <td><%= choir.website %></td>
        <td><%= choir.location_name %></td>
        <td><%= choir.street_name %></td>
        <td><%= choir.house_no %></td>
        <td><%= choir.zipcode %></td>
        <td><%= choir.city %></td>
        <td><%= choir.country %></td>
        <td><%= choir.latitude %></td>
        <td><%= choir.longitude %></td>
        <td><%= link_to 'Show', choir %></td>
        <td><%= link_to 'Edit', edit_choir_path(choir) %></td>
        <td><%= link_to 'Destroy', choir, method: :delete, data: { confirm: 'Bist du dir sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Choir', new_choir_path %>
